{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}


<table>
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.first_name }} {{ student.last_name }}</td>
                <td>
                    <a href="{% url 'remove_student' student.id %}" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div style="padding: 5rem;">
    <a href="{% url 'school' %}" type="button" class="btn btn-warning">Back to All Schools</a>
</div>
{% endblock %}