{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div id="docsearch" class="my-form container p-5 my-5 rounded border border-warning " data-bd-docs-version='5.3'>
    <form action="{% url 'school' %}">
        <h2 class="text-center">Search</h2>
        <hr>

        <div class="form-group">
            <label for="inputSearchProductName">name</label>
            <input type="text" class="form-control" id="inputSearchProductName" placeholder="School name" name="searchname">
        </div>
        
        <div class="form-group">
            <label for="inputSearchProductDescription">School Description</label>
            <input type="text" class="form-control" id="inputSearchProductDescription" placeholder="School description" name="searchdesc">
        </div>
        <button type="submit" class="btn btn-warning">Search for All</button>
    </form>

</div>

{% endblock %}